@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Open+Sans&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent-color: #a43312;
    --additional-accent-color: #381d2a;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-bg-color: #396e94;
    --nav-link-color: white;
    --nav-hover-link-color: #e7c24f;
    --nav-hover-bg-color: #a43312;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: auto;
}

header {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    display: inline-block;
}

nav a:hover {
    background-color: var(--nav-hover-bg-color);
    color: var(--nav-hover-link-color);
}

p {
    padding: 10px 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 10px;
    font-size: 0.9em;
    color: var(--primary-color);
}
